.fonte-rick-e-morty{
    font-family:'Montserrat', sans-serif;
    font-weight: 900
}
header{
    background-color: #fff;
}
main{
    background-image: url('./images/FUNDO.jpg');
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
}
.container-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-lines: 2;
    margin-bottom: 700px;
}
.img-personagem{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px;
    animation-name: fade-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.status-personagem{
    margin-right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
}
.div-footer{
    display: flex;
    background-color: rgb(21, 38, 23);
    height: 100%;
    position: static;
    z-index: 900;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.autor, .infos{
    color: grey;
}
.infos{
    display: flex;
}
.link-hub {
    color: rgb(245, 245, 245);
    font-weight: bold;
    text-decoration: none;
}
  
footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
}
.imagem-modal{
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}
.modal-content{
    animation-name: abertura-modal;
    animation-duration: 0.5s;
}

@keyframes abertura-modal {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

p {
    animation-duration: 0.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
  }
